.kapspargo-page{
  .mt-special{
    margin-top: 40px;
  }
  .kapspargoText{
    color: $color-kaspargo-1;
    font-family: $default-f-familiy;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 38px;
    letter-spacing: 0.279018px;
    text-align: center;
    margin-bottom: 24px;
  }

    @media (max-width: 768px) {
    }

}
